* {
  font-family: fangsong;
  background-color: aliceblue;
}
p {
  text-align: center;
}
#myheader {
  z-index: 10;
  padding: 10px;
  background: #2196f3;
  color: #fff;
  cursor: move;
}
h1 {
  text-align: center;
  text-decoration-line: underline;
}
